@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /* Layout */
    --bp-mobile: 375px;
    --bp-desktop: 1440px;
  
    /* Colors */
    --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
    --clr-grayish-blue: hsl(212, 23%, 69%);
    --clr-light-grayish-blue: hsl(210, 46%, 95%);
    --clr-white: hsl(0,0%,100%);
  
    /* Typography */
    --fs-primary: 12px;
    --fs-secondary: 1.2rem; /* You can adjust this value as needed */
    --fw-500: 500;
    --fw-700: 700;
    --fw-body: 400; /* Default body font weight */
  
    /* Font Family */
    --ff-primary: 'Manrope', sans-serif;
  }